<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fund My Project!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <section class="section">
        <nav class="navbar" role="navigation" aria-label="main navigation">

            <div class="navbar-end">
                <div class="navbar-item">
                <div class="buttons">
                            <!-- Conditionally render login or logout links -->
                    {{#if logged_in}}
                    <a  href="/profile" class="no-button" >profile </a><div class="no-button">|</div> 
                    <button class="no-button" id="logout">logout</button>
                    {{else}}
                    <a href="/login" class="button is-light" >login</a>
                    {{/if}}
                </div>
                </div>
            </div>
            </div>
        </nav>
    </section>

    <main class="container container-fluid mt-5"  id="home-background">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>

    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                <strong>TCO Comparison Tool llc</strong> by <a href="https://jgthms.com">Carlos Pichardo, Bryan Zinsky, Kyle O'hara Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
            </p>
        </div>
    </footer>
      {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  </body>

</html>