<div id="home">

    <section class="transparent-container text">
        <h3>About Us</h3>
        <p>
            Our TCO comparison site will give you a list of manufacturers to choose from and be able to compare them in an easy manor.
        </p>
    </section>
    <section class="transparent-container text">
        <h3>Getting started</h3>
        <p>
            To get started please click on login to get you to the login/sign up page 
        </p>
    </section>


</div>