  <div class="row">
    <div class="col-auto">
      <h2>Welcome, {{name}}!</h2>
    </div>
  </div>

  <div id="search-container">
    <section>
      <div id="search">
        <div>
          <label for="products">Select a product:</label>
          <select id="products">
              <option value="" disabled selected>Select a product</option>
          </select>
        </div>
        <div>
          <label for="products">Select a product:</label>
          <select id="products">
              <option value="" disabled selected>Select a product</option>
          </select>
        </div>
        <div>
          <label for="products">Select a product:</label>
          <select id="products">
              <option value="" disabled selected>Select a product</option>
          </select>
        </div>
      </div>
      <div>
      <button>Search</button>
      </div>
    </section>

    <div id="results">
      <div id="saved-search">
        <h3>Saved Searches</h3>
        <ul>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
          <li>test</li>
        </ul>
      </div>
    </div>
  </div>

<script src="./js/profile.js"></script>
